<div class="container">
	<div class="hero-unit">
	  <div class="jumbotron">
	    <h1>Scannstor</h1>

	    <p>Never dig through a storage shed again! Automated and itemized storage and retrieval service.</p>
	    <a href="/user/new/" class="btn btn-lg btn-success">Get started today!</a>
	  </div>
	</div>
</div>