<div class="container" padding-top: 60px>
	<div class="hero-unit">
	  <div class="jumbotron">
	    <h1>Scannstor</h1>

	    <h2>Storage Application</h2>
	    <a href="/user/newUser" class="btn btn-lg btn-success">Sign up now!</a>
	  </div>
	</div>
</div>