<div class="container">
	<div class="hero-unit">
	    <h1>New User Signup</h1>
	</div>

	<form action="/User/create" method="POST" class="form-signin">
		<h2 class="form-signin-heading">Create an account</h2>

		<input type="text" class="form-control input-block-level" placeholder="your name" name="name"></br>

		<input type="text" class="form-control input-block-level" placeholder="email address" name="email"></br> 

		<input type="password" class="form-control input-block-level" placeholder="password" name="password"></br>

		<input type="password" class="form-control input-block-level" placeholder="password confirmation" name="confirmation"><br />

		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>

